body {
  background-color: white;
}

/* Add a black background color to the top navigation */
.topnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px; /* Set a fixed height for the navigation bar */
  background-color: #ab7046e6;
  overflow: hidden;
  margin: 0; /* Remove margin */
  padding: 0; /* Remove padding */
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Janna LT", sans-serif;
  float: left;
  color: #ffffff;
  text-align: center;
  padding: 20px 35px;
  text-decoration: none;
  font-size: 19px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.cafe {
  width: 100%; /* Cover the width of the page */
  height: auto; /* Adjust the height automatically based on the aspect ratio */
  display: block; /* Display the image as a block element */
}

.button {
  margin-left: auto; /* Push the button to the right side of the container */
  vertical-align: middle; /* Add this line to align the button vertically */
  font-size: 35px;
}

