@import url('fonts.css');

.home-page {
  background-color: #f6f3f3;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px; /* Set a fixed height for the navigation bar */
  background-color: #ab7046;
  overflow: hidden;
  z-index: 999;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Janna LT Regular", sans-serif;
  float: left;
  color: #ffffff;
  padding: 20px 35px;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 100px;
}

.topnav a:hover {
  background-color: #eceaea;
  color: black;
}

.cafe {
  margin-top:52px;
  left: 0;
  width: 100%;
  height: 600px;
  overflow: hidden;
} 

.first-button {
  border-radius: 2px;
  margin-top: 6px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  border: none;
  color: #ab7046e6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.first-button:hover {
  background-color: black;
  color: white;
}

.image-text {
  font-family: "Janna LT Regular", sans-serif;
  position: absolute;
  top: 41%;
  left: 7.5%;
  color: white;
  font-size: 33px; /* Adjust the font size as needed */
  text-align: center;
}

.second-button {
  border-radius: 2px;
  margin-top: 11px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  border: none;
  color: #ab7046e6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 55%;
  left: 19%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.second-button:hover {
  background-color: #161414;
  color: white;
}

.icons-container{
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.icons-container .icons{
  background: #fff;
  border: .1rem solid rgba(0,0,0,.1);
  padding:1rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icons img {
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3 {
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.icons-container .icons span{
  color: #555;
  font-size: 1.3rem;
}

.second-image {
  left: 0;
  width: 100%;
  height: 550px;
}

 .second-paragraph {
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Pragmatica-Light", sans-serif;
  left: 0.5%;
  color: rgb(58, 50, 50);
  font-size: 23px;
  text-align: center;
  padding: 20px 60px;
} 


/* Menu page css */
.main .display-page {
  position: relative;
  z-index: 1;
  background-image: url('https://img.freepik.com/premium-vector/seamless-pattern-with-cute-dinosaur-riding-motorbike_263670-1921.jpg?w=1800');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.menu-page {
  background-color: rgba(241, 233, 233, 0.831);
}

.menu-buttons-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
}

.menu-buttons-container .b {
  margin-top: 80px;
  margin-right: 20px;
  padding: 10px 10px 10px 10px;
  transition-duration: 0.4s;
  border: none;
  background-color: #ded8d2; 
  border-radius: 20px;
  color: #1c1b1be6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
}

.b:hover {
  background-color: #524e4e;
  color: white;
}

.bakery {
  height: 490px;
  display: block;
  width: 80%;
  margin: 25px auto 0;
  border-radius: 10px;
} 

.menu-container {
  padding-top: 50px;
  display: flex;
  justify-content: flex-start;
}
.menu-container img {
  width: 369px;
  height: 260px;
  border-radius: 2px;
}


.menu-container .first-img {
  margin-left: 20px;
}


.menu-container .third-img {
  margin-right: 20px;
  
}
.menu-container h3 {
  color: rgb(151, 33, 33);
}

.menu-container .b {
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 10px 5px 10px;
  transition-duration: 0.4s;
  border: none;
  background-color: #f3efec; 
  border-radius: 3px;
  color: rgb(151, 33, 33);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  outline: 1px solid #1c1b1be6;

}

.menu-container span {
  display: block;
  max-width: 85%;
  font-family: "Pragmatica-Light", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 1.3;
}

.search-bar {
  margin-top: 75px;
  margin-left: 270px;
  margin-right: 20px;
}

form {
  background-color: #ded8d2;
  width: 390px;
  height: 44px;
  border-radius: 18px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  all: unset;
  font: 16px system-ui;
  color: #1c1b1be6;
  height: 100%;
  width: 100%;
  padding: 6px 10px;
}

::placeholder {
  color: #2b2727e6;
}

.search-button {
  all: unset;
  cursor: pointer;
  width: 44px;
  height: 44px;
}

svg {
  color: #302929;
  fill: currentColor;
  width: 24px;
  height: 24px;
  padding: 10px;
}

/* About page styling starts here */

.about-page {
  background-color: rgb(255, 255, 255);
}
.playground-img {
  width: 52%;
  height: 540px;
  margin-left: 580px;
  margin-top: -440px;
}

.about-page .about-navbar {
  margin-left: 15px;
  margin-top: 50px;
}

.about-navbar a {
  font-family: "Janna LT Regular", sans-serif;
  color: #000000;
  padding: 0px 35px;
  text-decoration: none;
  font-size: 16px;
}

.description-container {
  margin-left: 50px;
  margin-top: 80px;
}
.description-container h3 {
  font-size: 50px;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#7ff7e1, #1113ab);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.description-container span {
  margin-left: 65px;
  margin-top: -30px;
  display: block;
  max-width: 50%;
  letter-spacing: 3px;
  font-family: "Pragmatica-Light", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 25px;
  text-align: left;
}

.description-container .b {
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
  border: none;
  flex: 1 1 auto;
  padding: 13px 14px 13px 14px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 3px;
  background-image: linear-gradient(to right, #f6d365 0%, #ed8061 51%, #f6d365 100%);
 }

 .description-container p {
  text-align: left;
  padding-bottom: 30px;
  display: block;
  max-width: 42%;
  font-family: "Pragmatica-Light", sans-serif;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 1.3;
 }

 .description-container hr {
  width:20%;
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
 }

 .description-container .b:hover {
  background-position: right center; /* change the direction of the change here */
}

/* beginning of display page css */

.display-page {
  display: flex;
  flex-direction: row;
  padding-bottom: 130px; /* adjust this so the background fits */
}

.chat {
  margin-left: 30px;
  margin-top: 40px;
  outline: 3px solid black;
  padding: 20px;
  max-width: 200px;
  background-color: rgb(230, 204, 169);
  border-radius: 15px;
  height: 300px;
}

.play {
  margin-top: 40px;
  margin-left: 80px;
  width: 750px;
  outline: 3px solid black;
  background-color: rgb(230, 204, 169);
  border-radius: 20px;
  height: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.play p {
  line-height: 50px;
  font-weight: medium;
  font-size: 25px;
  margin-top: 50px;
}
.play .info {
  background-image: url('https://img.freepik.com/free-vector/leaf-pattern-beige-background_53876-118691.jpg?w=1800&t=st=1689128151~exp=1689128751~hmac=a37121633e6b230cf1fc1ba94fb605a36ca5167caae14446fb063aab80691e6d');
  background-size: cover;
  background-position: center;
  width: 680px; /* Adjust the width as needed */
  height: 390px;
  opacity: 0.75;
  border-radius: 5px;
  padding: 10px; /* Adjust the padding as needed */
}

.display-buttons {
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;

}
/* CSS for button styling*/
.display-b {
  align-items: center;
  background-color: rgb(230, 204, 169);
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 45px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

.display-b:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 45px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.display-b:hover:after {
  transform: translate(0, 0);
}

.display-b:active {
  background-color: #ffdeda;
  outline: 0;
}

.display-b:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .display-b {
    padding: 0 40px;
  }
}
