@import url('fonts.css');
.home-page {
  background-color: #eceaea;
}

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 54px; /* Set a fixed height for the navigation bar */
  background-color: #ab7046;
  overflow: hidden;
  z-index: 999;
}

/* Style the links inside the navigation bar */
.topnav a {
  font-family: "Janna LT Regular", sans-serif;
  float: left;
  color: #ffffff;
  padding: 20px 35px;
  text-decoration: none;
  font-size: 19px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 100px;
}

.topnav a:hover {
  background-color: #eceaea;
  color: black;
}

.cafe {
  margin-top:52px;
  left: 0;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  background-position:center;
  background-size:cover;
  overflow: hidden;
}

.button {
  border-radius: 2px;
  margin-top: 6px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  border: none;
  color: #ab7046e6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button:hover {
  background-color: black;
  color: white;
}

.image-text {
  font-family: "Janna LT Regular", sans-serif;
  position: absolute;
  top: 41%;
  left: 7.5%;
  color: white;
  font-size: 33px; /* Adjust the font size as needed */
  text-align: center;
}

.second-button {
  border-radius: 2px;
  margin-top: 11px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  border: none;
  color: #ab7046e6;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: absolute;
  top: 55%;
  left: 19%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.second-button:hover {
  background-color: #161414;
  color: white;
}

.second-image {
  margin-top:710px;
  left: 0;
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  background-position:center;
  background-size:cover;
  overflow: hidden;
}

.second-paragraph {
  font-family: "Pragmatica-Light", sans-serif;
  position: absolute;
  top: 1180px;
  left: 0.5%;
  color: rgb(58, 50, 50);
  font-size: 23px; /* Adjust the font size as needed */
  text-align: center;
  padding: 20px 60px;
}

.menu-page {
  background-color: white;
}

.croissants {
  width: 30%;
}

.pastries {
  width: 30%;
}

.quiches {
  width: 28%;
}
.about-page {
  background-color: beige;
}